{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    {% for project in projects %}
    <div class="wrap">
        <div class="tile">
            <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>
            <div class="text">
                <h1>{{ projects.nom }}</h1>
                <h2 class="">{{ projects.language }}</h2>
                <h6>{{ projects.conditions }}</h6>
                <p class="animate-text">{{ projects.description }}</p>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
