{% extends 'base.html.twig' %}

{% block title %}
    Damien C. | Portfolio
{% endblock %}

{% block body %}
    {% for project in projects %}
    <div class="wrap">
        <div class="tile col-12 p-0 mb-5">
            <img class="h-100" src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>
            <div class="text">
                <h1>{{ project.nom }}</h1>
                <h2 class="animate-text">{{ project.conditions }} - {{ project.language }} </h2>
                <p class="animate-text">{{ project.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
