{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Ajouter un nouveau projet</h1>

    {{ include('projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">back to list</a>
{% endblock %}
