{% extends 'base.html.twig' %}

{% block title %}Damien C. | Accueil{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center p-0">
        <img class="home-img" src="{{ asset('build/back_home_page.png') }}" alt="image">
    </div>
{% endblock %}
