@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

$font-title : 'Amaranth', sans-serif;
$font-text : 'Advent Pro', sans-serif;
$font-text-card : 'Amiri', serif;

$color-home : #F5FFE3;
$text-color : #3e3e3e;
