{% extends 'base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Ajouter un projet</h1>



    {{ include('admin/_form.html.twig') }}


{% endblock %}
