<nav class="navbar navbar-expand-lg navbar-light w-100">
    <div class="container mt-5">
        <!-- LOGIN MODAL TRIGGER -->
        <button class="btn" data-toggle="modal" data-target="#loginModal">
            <img src="{{ asset('build/mon_avatar.png') }}" alt="mon_avatar">
        </button>

        <!-- LOGIN MODAL -->
        <div class="modal fade" id="loginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Espace personnel</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="username">Identifiant</label>
                                <input type="text" placeholder="Damien" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" placeholder="Le mot de passe" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="underline" href="{{ path('projects_index') }}">
                    <i class="far fa-folder-open"></i>
                    Portfolio
                </a>
            </li>
            <li class="nav-item">
                <a class="underline" href="https://www.linkedin.com/in/damien-carli-032588113/" target="_blank">
                    <i class="far fa-address-card"></i>
                    À Propos
                </a>
            </li>
            <li class="nav-item">
                <a class="underline" href="{{ path('contact_index') }}">
                    <i class="far fa-envelope"></i>
                    Me Contacter
                </a>
            </li>
        </ul>
    </div>
</nav>

